.servicesContainer {
    height: 85vh;
    width: 80%;
    padding-top: 100px;
    margin: auto;
  }
  
  @media only screen and (min-width: 700px) {
    .servicesContainer {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .servicesContainer {
      width: 95%;
      padding-top: 150px;
    }
  }
  