.contactDiv {
  display: flex;
  justify-content: center;
}

.f1 {
  text-align: center;
}

.hover-black:hover {
  background-color: #000 !important;
}

.checkbox {
  text-align: center;
}

.checkbox input {
  margin: 0px 0px 0px 0px;
  cursor: pointer;
}

.checkbox label {
  margin: 0px 20px 0px 8px;
}

.submitBtn {
  background: transparent;
  border-color: white;
  color: white;
}

.submitBtn:hover {
  color: #fff;
  background: #000;
}

@media only screen and (max-width: 767px) {
  .mv6 {
    margin-top: 50px;
  }
}
