.footer {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;

  p {
    font-size: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
  }

  li {
    display: inline;
  }

  li a {
    display: inline-block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

  .fa-instagram {
    color: #5851db;
    text-decoration: none;
  }

  .fa-instagram:hover {
    color: #c13584;
    border-bottom: 2px solid #f56040;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-twitter {
    color: #1da1f2;
    text-decoration: none;
  }

  .fa-twitter:hover {
    color: #f5f8fa;
    border-bottom: 2px solid #1da1f2;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-facebook {
    color: #4267b2;
    text-decoration: none;
  }

  .fa-facebook:hover {
    color: #ffffff;
    border-bottom: 2px solid #4267b2;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-twitch {
    color: #6441a4;
    text-decoration: none;
  }

  .fa-twitch:hover {
    color: #ffffff;
    border-bottom: 2px solid #6441a4;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-youtube {
    color: #ff0000;
    text-decoration: none;
  }

  .fa-youtube:hover {
    color: #282828;
    border-bottom: 2px solid #ff0000;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .fa-discord {
    color: #7289da;
    text-decoration: none;
  }

  .fa-discord:hover {
    color: #ffffff;
    border-bottom: 2px solid #7289da;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }
}

@media only screen and (max-width: 991px) {
  .inputGroup {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}
